<div class="all" style="width: 100%;">
    <app-sidebar></app-sidebar>

    <body style="width: 100%;">

        <app-inline-navbar></app-inline-navbar>

        <main style="width: 100%;">
            <div class="container">
                <div class="card">
                    <div class="card-inspire" id="quoteDisplay" style="text-align: center; font-size: 14pt;">
                        Inspirational Quote</div>
                    <div class="card-inspire" id="author" style="text-align: center; font-size: 12pt;">Author</div>
                </div>


                <div class="cardList">

                    <span>
                        <app-card></app-card>
                    </span>

                </div>
            </div>
        </main>

        <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="sidebars.js"></script>
    </body>
</div>