<div class="card countdown-container">
    <h5 class="card-header" style="margin-bottom: 10px; font-size: 12pt;">
        Due Date: </h5>
    <p id="goalDate" class="card-text date" style="margin-bottom: 10px; text-align:right">
        {{goal.goalDate}}
    </p>
    <div class="count">
        <p id="days" class="big-text">Days:</p>
        <span class="number">{{daysToDday}}</span>
    </div>
    <div class="count">
        <p id="hours" class="big-text">Hours:</p>
        <span class="number">{{hoursToDday}}</span>
    </div>
    <div class="count">
        <p id="minutes" class="big-text">Minutes:</p>
        <span class="number">{{minutesToDday}}</span>
    </div>
    <div class="count">
        <p id="seconds" class="big-text">Seconds:</p>
        <span class="number">{{secondsToDday}}</span>
    </div>
</div>