<div class="container">
    <div class="progress blue">
        <span class="progress-left">
            <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
            <span class="progress-bar"></span>
        </span>
        <div class="progress-value">90%</div>
    </div>
</div>

<!-- <div style="display: block; width: 500px; height: 400px ">

    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions"
        [legend]="true" [type]="'doughnut'">

    </canvas>

</div> -->